<?xml version="1.0"?>
<!--
/**
 *
 * @description DI configuration
 *
 * @author Bina Commerce      <https://www.binacommerce.com>
 * @author C. M. de Picciotto <cmdepicciotto@binacommerce.com>
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--
    /**
     *
     * @note Add preference for system config interface
     *
     */
    -->
    <preference for="Bina\Social\Api\SystemConfigInterface" type="Bina\Social\Model\System\Config"/>
</config>