/**
 *
 * @description Widget styles
 *
 * @author Bina Commerce      <https://www.binacommerce.com>
 * @author C. M. de Picciotto <cmdepicciotto@binacommerce.com>
 *
 */

/**
 *
 * @note Common styles
 *
 */
& when (@media-common = true) {
  /**
   *
   * @note Social container
   *
   */
  .social-container {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;

    /**
     *
     * @note Social network
     *
     */
    .social {
      margin: 0 2% 0 0;

      /**
       *
       * @note Image
       *
       */
      img {
        display  : block;
        width    : 100%;
        max-width: 35px;
      }
    }
  }
}