<?xml version="1.0"?>
<!--
/**
 *
 * @description System config
 *
 * @author Bina Commerce      <https://www.binacommerce.com>
 * @author C. M. de Picciotto <cmdepicciotto@binacommerce.com>
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!--
        /**
         *
         * @note 'General' section
         *
         */
        -->
        <section id="general">
            <!--
            /**
             *
             * @note 'Store Information' group
             *
             */
            -->
            <group id="store_information">
                <!--
                /**
                 *
                 * @note 'Facebook' field
                 *
                 */
                -->
                <field id="facebook" type="text" sortOrder="1000000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook</label>
                </field>

                <!--
                /**
                 *
                 * @note 'Instagram' field
                 *
                 */
                -->
                <field id="instagram" type="text" sortOrder="2000000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instagram</label>
                </field>

                <!--
                /**
                 *
                 * @note 'Twitter' field
                 *
                 */
                -->
                <field id="twitter" type="text" sortOrder="3000000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter</label>
                </field>
            </group>
        </section>
    </system>
</config>